* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

header {
  height: 23.875rem;
  border-block-end: 8px solid hsla(0, 0%, 60%, 1);
}

main {
  background-color: hsla(0, 0%, 40%, 1);
}

.max-width-wrapper {
  margin: 0 auto;
  min-width: min-content;
  max-width: 50rem;
}

header div.max-width-wrapper {
  padding-block-start: 96px;
  padding-block-end: 64px;
}

section.max-width-wrapper {
  padding-block-start: 72px;
  padding-block-end: 72px;
}

.intro-chunk {
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: 24px;
}

.intro-chunk strong {
  color: hsla(160, 100%, 30%, 1);
}

.indented-heading {
  display: inline-block;
  width: fit-content;
  border-block-end: 8px solid hsla(45, 100%, 40%, 1);
  padding: 16px 32px 16px 32px;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: -32px;
  background-color: hsla(45, 100%, 50%, 1);
}

.card {
  font-size: 1.25rem;
  line-height: 1.875rem;
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px;
}
